<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax"></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                </div>
                <h2>About U-Schedule</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start About Area =================-->
<section class="about_area lite_bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-5">
                <div class="about_details lite_bg">
                    <h2>Welcome to U-Schedule Center</h2>
                    <!-- <p>inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards
							especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.</p>
						<ul class="list_wrap">
							<li class="about_lists">Women face higher conduct standards especially in the workplace that’s why it’s crucial
								that.</li>
							<li class="about_lists">Women face higher conduct standards especially in the workplace that’s why it’s crucial
								that.</li>
							<li class="about_lists">Women face higher conduct standards especially in the workplace that’s why it’s crucial
								that.</li>
						</ul> -->
                </div>
            </div>
            <div class="col-lg-4 offset-lg-3 col-md-6 offset-md-1">
                <div class="about_right overlay">
                    <div class="about_inner">
                        <h4>Doctors Time table</h4>
                        <p>Mon to Friday -- 07.00 AM to 10.00 PM</p>
                        <p>Mon to Friday -- 07.00 AM to 10.00 PM</p>
                        <p>Mon to Friday -- 07.00 AM to 10.00 PM</p>
                        <p>Mon to Friday -- 07.00 AM to 10.00 PM</p>
                        <p>Mon to Friday -- 07.00 AM to 10.00 PM</p>
                        <p>Mon to Friday -- 07.00 AM to 10.00 PM</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="about_bg overlay"></div>
    </div>
</section>
<!--================ End About Area =================-->

<!--================ Start Features Area =================-->
<section class="features_area section_gap">
    <div class="container">
        <div class="row">
            <!-- single feature
				<div class="col-lg-4 col-md-6">
					<div class="single_feature">
						<div class="feature_head">
							<img src="img/features/icon1.png" alt="">
							<h4>Emergency Services</h4>
						</div>
						<div class="feature_content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
								dolore magna aliqua. Ut enim ad minim veniam.</p>
							<div class="feature_btn">
								<a href="#" class="f_btn">Call Us: 215 - 3695 - 9584</a>
							</div>
						</div>
					</div>
				</div> -->
            <!-- single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="feature_head">
                        <img src="img/features/icon2.png" alt="">
                        <h4>Doctors Schedule</h4>
                    </div>
                    <div class="feature_content">
                        <p>knowing your doctors schedule will help you know when to come and the timeto be available at
                            the hospital to avoid you
                            missing other appointments</p>
                        <div class="feature_btn">
                            <a href="#" class="about-link1 f_btn" data-toggle="modal" data-target="#iot">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="iot" tabindex="-1" role="dialog" aria-labelledby="iot" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title w3-agileits agileits-w3layouts w3layouts">Doctors Schedule</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <img src="img/team/member18.png" alt="" class="img-responsive">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12">
                                <p class="news-info">The Internet of things is the extension of Internet connectivity
                                    into physical
                                    devices and everyday objects. Embedded with electronics, Internet connectivity, and
                                    other forms
                                    of
                                    hardware, these devices can communicate and interact with others over the Internet,
                                    and they can
                                    be
                                    remotely monitored and controlled.
                                </p>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>





















            <!-- single feature -->
            <div class="col-lg-4 col-md-6">
                <div class="single_feature">
                    <div class="feature_head">
                        <img src="img/features/icon3.png" alt="">
                        <h4>Online Appointment</h4>
                    </div>
                    <div class="feature_content">
                        <p>booking appointments online will save you the stress of coming to the hospital to book an
                            appointment as well as missing
                            the</p>
                        <div class="feature_btn">
                            <a href="#" class="f_btn">Get Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Features Area =================-->
<!--================ Start Team Area =================-->
<section class="section_gap team_area lite_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>Available Doctors</h2>
                    <p>they are available for you anytime anyday</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Okafor Emeka</h4>
                        <p class="profession">NeuroSurgeon</p>
                        <!-- <p>If you ar looking for </p> -->
                    </div>
                </div>
            </div>
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Augustine Aroke</h4>
                        <p class="profession">Lab Scientist</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Hassan Benjamin</h4>
                        <p class="profession">physiotherapist</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Jack Godfrey</h4>
                        <p class="profession">Consultant</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Emmanuel Epharam</h4>
                        <p class="profession">Pediatrician</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Zungwen Dorcas</h4>
                        <p class="profession">Gynecologist</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>Talla Daniel</h4>
                        <p class="profession">Cardiologist</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
            <!-- single-team-member -->
            <div class="col-lg-3 col-sm-6">
                <div class="single_member">
                    <div class="author">
                        <img src="img/team/member1.png" alt="" width="200px" height="200px">
                    </div>
                    <div class="author_decs">
                        <div class="social_icons">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <h4>George Nash</h4>
                        <p class="profession">Dermatologist</p>
                        <!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference
								in price.</p> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Team Area =================-->

<!--================ Start Counter Area =================-->
<section class="section_gap counter_area overlay">
    <div class="container">
        <div class="row">
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">30</span>K</h1>
                    <p>Years <br> of Experiences</p>
                </div>
            </div>
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">2</span>K+</h1>
                    <p>Instant <br> Blood Donors </p>
                </div>
            </div>
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">5</span>K+</h1>
                    <p>Well Cured <br> Patients</p>
                </div>
            </div>
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">20</span>K+</h1>
                    <p>Internal <br> Stuff Groups</p>
                </div>
            </div>
        </div>
    </div>
</section>