<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax"></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/department">Departments</a>
                </div>
                <h2>Departments</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Department Area =================-->
<section class="department_area section_gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="main_title">
                    <h2>Hospital Popular Departments</h2>
                    <p>these are the various departments available in the hospital that booking of appointment is made
                        available for.</p>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/d-icon1.png" alt="">
                    </div>
                    <h4>Cardiology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/d-icon2.png" alt="">
                    </div>
                    <h4>Urology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/d-icon3.png" alt="">
                    </div>
                    <h4>Dental Care</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/d-icon4.png" alt="">
                    </div>
                    <h4>Eye Care</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/d-icon5.png" alt="">
                    </div>
                    <h4>Neurology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/d-icon6.png" alt="">
                    </div>
                    <h4>Plastic Surgery</h4>
                </div>
            </div>
        </div>

        <div class="row mt-30">
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/opthamology.png" alt="" width="100px">
                    </div>
                    <h4>Opthalmology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6" >
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/oncology.jpeg" alt="" width="100px">
                    </div>
                    <h4>Oncology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/gynaecology.jpeg" alt="" width="100px">
                    </div>
                    <h4>Gynaecology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/gastroenterology.jpeg" alt="" width="100px">
                    </div>
                    <h4>Gastroenterology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/hematology.jpeg" alt="" width="100px">
                    </div>
                    <h4>Hematology</h4>
                </div>
            </div>
            <!-- single department -->
            <div class="col-lg-2 text-center col-sm-6">
                <div class="single_department">
                    <div class="dpmt-thumb">
                        <img src="img/department/hepatology.jpeg" alt="" width="100px">
                    </div>
                    <h4>Hepatology</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ End Department Area =================-->

<!--================ Start Counter Area =================-->
<section class="section_gap counter_area overlay">
    <div class="container">
        <div class="row">
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">30</span>K</h1>
                    <p>Years <br> of Experiences</p>
                </div>
            </div>
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">2</span>K+</h1>
                    <p>Instant <br> Blood Donors </p>
                </div>
            </div>
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">5</span>K+</h1>
                    <p>Well Cured <br> Patients</p>
                </div>
            </div>
            <!--single-counter-->
            <div class="col-lg-3 col-sm-6">
                <div class="single_counter">
                    <h1> <span class="counter_number">20</span>K+</h1>
                    <p>Internal <br> Stuff Groups</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================ Start Counter Area =================-->