<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax"></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/user">User</a>
                </div>
                <h2>Register</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->


<div class="row">
<div class="hh1 col-sm-3 col-lg-12">Registration</div>

</div>
<div class="row">
<div class="hh2 col-md-6">
    
        <a href="/patient/register" class="btn btn-black py-3 px-5 rounded-0 d-block d-sm-inline-block"
            style="background:rgb(100, 34, 187); color:#ffff; margin-bottom:20px">Patient Reg</a>
    </div>
    <div class="hh2 col-md-6">
    <a href="/hospital/register" class="btn btn-black py-3 px-5 rounded-0 d-block d-sm-inline-block"
        style="background:rgb(100, 34, 187); color:#ffff; margin-bottom:20px">Hospital Reg</a>
</div>
</div>