<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
	<div class="row">
		<ol class="breadcrumb">
			<li><a href="#">
					<em class="fa fa-home"></em>
				</a></li>
			<li>Dashboard</li>
		</ol>
	</div>
	<!--/.row-->

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Dashboard</h1>
		</div>
	</div>
	<!--/.row-->


	

	<div class="row">
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Appointments</h4>
					<div class="easypiechart" id="easypiechart-blue" data-percent="92"><span
							class="percent">{{totalAppointments}}</span></div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Total Hospitals</h4>
					<div class="easypiechart" id="easypiechart-orange" data-percent="65"><span
							class="percent">{{totalHospitals}}</span></div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Total Patients</h4>
					<div class="easypiechart" id="easypiechart-teal" data-percent="56"><span
							class="percent">{{totalPatients}}</span></div>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-3">
			<div class="panel panel-default">
				<div class="panel-body easypiechart-panel">
					<h4>Aproved Appointments</h4>
					<div class="easypiechart" id="easypiechart-red" data-percent="27"><span class="percent"></span></div>
				</div>
			</div>
		</div>

	</div>
	<!--/.row-->