<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax"></div>
        <div class="container">
            <div class="banner_content text-center">
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/patient/register">Register</a>
                </div>
                <h2>Patient Register</h2>
            </div>
        </div>
    </div>
</section>
{{!-- <div class="container">
    {{#if success_messages}}
    <div class="alert alert-success alert-dismissible  show mt-2 auto-hide" role="alert">
        <strong>{{success_messages}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    {{/if}}

    {{#if error_messages}}
    <div class="alert alert-danger alert-dismissible  show mt-2 auto-hide" role="alert">
        <strong>{{error_messages}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    {{/if}}

</div> --}}

<!-- Cart view section -->
<section class="aa-myaccount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-myaccount-area">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="aa-myaccount-register">
                                <h4 style="margin-top:20px">Patient Registration</h4>
                                <form action="/patient/register" method="POST" class="aa-login-form">
                                    <label for="">First Name<span>*</span></label>
                                    <input type="text" name="firstName" placeholder="First name" required>

                                    <label for="">Last Name<span>*</span></label>
                                    <input type="text" name="lastName" placeholder="Last name" required>

                                    <label for="">E-mail <span>*</span></label>
                                    <input type="email" name="email" placeholder="email" required>

                                    <label for="">Blood Group <span>*</span></label>
                                    <select class="default-select select2" name="bloodGroup" >
                                        <option data-display="Blood Group">Select Blood Group</option>
                                        <option>None</option>
                                        <option>AB+</option>
                                        <option>O-</option>
                                        <option>O+</option>
                                        <option>AB-</option>


                                    </select>
                                    <label for="">Password<span>*</span></label>
                                    <input type="password" name="password" placeholder="Password" required>

                                    <label for="">Confirm Password<span>*</span></label>
                                    <input type="password" name="confirmPassword" placeholder="Password" required>

                                    <label for="">Phone number<span>*</span></label>
                                    <input type="text" name="phoneNumber" placeholder="Phone number" required>

                                    <label for="">Full address<span>*</span></label>
                                    <input type="text" name="fullAddress" placeholder="address" required>

                            
                                    <button type="submit" class="aa-browse-btn">Register</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->