<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="/assets3/img/apple-icon.png">
    <link rel="icon" type="image/png" href="/assets3/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        USchedule Dashboard
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
        name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- CSS Files -->
    <link href="/assets3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets3/css/now-ui-dashboard.css?v=1.3.0" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="/assets3/demo/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets3/css/style.css">
</head>

<body class="user-profile">
    <div class="wrapper ">
        <div class="sidebar" data-color="orange">
            <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
            <div class="logo">

                <a href="/patient/profile" class="simple-text logo-normal">
                    USchedule
                </a>
            </div>
            <div class="sidebar-wrapper" id="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="./dashboard.html">
                            <i class="now-ui-icons design_app"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>


                    <li>
                        <a href="" data-toggle="modal" data-target="#exampleModal">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Book Appointment</p>
                        </a>
                    </li>
                    <li>
                        <a href="/patient/updateProfile">
                            <i class="now-ui-icons users_single-02"></i>
                            <p>Update Profile</p>
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <i class="now-ui-icons ui-1_bell-53"></i>
                            <p>Notifications</p>
                        </a>
                    </li>
        <li><a href="/patient/logout"><i class="fa fa-power-off">&nbsp;</i> Logout</a></li>


                </ul>
            </div>
        </div>
        <div class="main-panel" id="main-panel">
<div class="container">
    {{#if success_messages}}
    <div class="alert alert-success alert-dismissible  show mt-2 auto-hide" role="alert" style="color: black">
        <strong>{{success_messages}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    {{/if}}

    {{#if error_messages}}
    <div class="alert alert-danger alert-dismissible  show mt-2 auto-hide" role="alert" style="color: black">
        <strong>{{error_messages}}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    {{/if}}

</div>




            {{!-- modal-form --}}
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="/patient/appointment/{{patient._id}}" method="post">

                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Patient ID</label>
                                    <input type="text" class="form-control" name="patientID" id="recipient-name">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Your Email</label>
                                    <input type="text" class="form-control" name="email" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Hospital</label>
                                    <input type="text" class="form-control" name="hospital" id="recipient-name">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Department</label>
                                    <input type="text" class="form-control" name="department" id="recipient-name">
                                </div>

                                <div class="form-group">
                                    <label for="recipient-name" class="form-control-label">Appointment Date</label>
                                    <input type="date" class="form-control" name="appointmentDate" id="recipient-name">
                                </div>

                                <div class="form-group">
                                    <label for="message-text" class="form-control-label">Message:</label>
                                    <textarea class="form-control" name="message" id="message-text"></textarea>
                                </div>

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Book</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>

            {{!-- modal-form closing--}}


            